// primary Colours
$color-red: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);

// Accent Colour
$color-blue: hsl(248, 32%, 49%);

// Neutral Colours
$color-dark-blue: hsl(249, 10%, 26%);
$color-grayish-blue: hsl(246, 25%, 77%);

// Typography for Body
$body-font: 'Poppins', sans-serif;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-dark-blue;
}

body * + * {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 2em 2em 1em 2em;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: $color-red;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.marketing {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #fff;

    .title {
      font-size: 1.8em;
      line-height: 1.333em;

        span {
          display: block;

            &:last-child{
              margin-top: 0em;
            }
        }
    }

    .message {
      font-weight: 600;
    }
}

.registration {

    .btn {
      padding: 1.2em 2em 1.2em 2em;
      border: 0;
      border-radius: 0.438em;
      text-align: center;
      width: 100%;
      cursor: pointer;
    }

    .top {

        .btn-free-trail {
          background-color: $color-blue;
          color: #fff;
          line-height: 1.499em;
          -webkit-box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);
          -moz-box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);
          box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);

            .trail-emphasis {
              font-weight: 700;
            }

            .trail-price {
              display: block;
              margin-top: 0;
            }
        }
    }

    .bottom {

        .form-wrapper {
          background-color: #fff;
          padding: 1.5em;
          border-radius: 0.438em;
          -webkit-box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);
          -moz-box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);
          box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);

            .form-group {
              display: flex;
              flex-direction: column;


                .form-control {
                  border: 1px solid $color-grayish-blue;
                  border-radius: 0.438em;
                  font-weight: 600;
                  padding: 1.2em 1em;

                    &::placeholder {
                      font-weight: 600;
                    }
                }

                .form-control + .form-control {
                  margin-top: 1em;
                }

                .btn-register {
                  background-color: $color-green;
                  color: #fff;
                  font-weight: 600;
                  margin-top: 1em;
                  text-transform: uppercase;
                  -webkit-box-shadow: 0px 8px 7px -4px rgba(153,208,153,1);
                  -moz-box-shadow: 0px 8px 7px -4px rgba(153,208,153,1);
                  box-shadow: 0px 8px 7px -4px rgba(153,208,153,1);
                }
            }

            .terms-service-agreement {
              color: $color-grayish-blue;
              font-size: 0.8em;
              font-weight: 600;
              text-align: center;

                .terms-emphasis {
                  color: $color-red;
                }
            }
        }
    }
}


footer {
  margin-top: 2em;

  .attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
  }
  .attribution a {
    color: #fff;
  }

  span {
    display: block;
  }

  span + span {
    margin-top: 0;
  }
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  .container {
    padding: 0 0 1em 0;
    background-image: url("../images/bg-intro-desktop.png");
  }

  main {
    padding: 3em 8em 1em 8em;
    display: flex;
    justify-content: space-between;
  }

  .marketing {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2em;
    text-align: left;
  }

  .marketing .title {
    font-size: 3em;
    line-height: 1.1em;
  }

  .marketing .message {
    font-weight: normal;
    margin-top: 0;
  }

  .registration {
    flex: 50%;
  }

  .registration .top .btn-free-trail .trail-price {
    display: inline;
  }

  footer span {
    display: inline;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .container {
    padding: 0 0 1em 0;
    background-image: url("../images/bg-intro-desktop.png");
  }

  main {
    padding: 3em 7em 1em 7em;
    display: flex;
    justify-content: space-between;
  }

  .marketing {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2em;
    text-align: left;
  }

  .marketing .title {
    font-size: 2.5em;
    line-height: 1.1em;
  }

  .marketing .message {
    font-weight: normal;
    margin-top: 0;
  }

  .registration {
    flex: 50%;
  }

  .registration .top .btn-free-trail .trail-price {
    display: inline;
  }

  footer span {
    display: inline;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .container {
    padding: 3em 6em 1em 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main,
  footer {
    width: 80%;
  }

  .marketing .title {
      font-size: 2.5em;
  }

  footer {

    span {
      display: inline;
    }

  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    padding: 3em 7em 1em 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main,
  footer {
    width: 80%;
  }

  .marketing .title {
      font-size: 2.5em;
  }

  footer {

    span {
      display: inline;
    }

  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .marketing .title {
      font-size: 2.2em;
  }

  footer {

    span {
      display: inline;
    }
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .container {
    padding: 3em 4em 1em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main,
  footer {
    width: 80%;
  }

  .marketing .title {
      font-size: 2.5em;
  }

  footer {

    span {
      display: inline;
    }

  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
