// primary Colours
$color-red: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);

// Accent Colour
$color-blue: hsl(248, 32%, 49%);

// Neutral Colours
$color-dark-blue: hsl(249, 10%, 26%);
$color-grayish-blue: hsl(246, 25%, 77%);

// Typography for Body
$body-font: 'Poppins', sans-serif;

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  font-size: 1rem;
  line-height: 1.5em;
  color: $color-dark-blue;
}

body * + * {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 2em 2em 1em 2em;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: $color-red;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
}

.marketing {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #fff;

    .title {
      font-size: 1.8em;
      line-height: 1.333em;

        span {
          display: block;

            &:last-child{
              margin-top: 0em;
            }
        }
    }

    .message {
      font-weight: 600;
    }
}

.registration {

    .btn {
      padding: 1.2em 2em 1.2em 2em;
      border: 0;
      border-radius: 0.438em;
      text-align: center;
      width: 100%;
    }

    .top {

        .btn-free-trail {
          background-color: $color-blue;
          color: #fff;
          line-height: 1.499em;
          -webkit-box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);
          -moz-box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);
          box-shadow: 0px 9px 7px -4px rgba(217,101,102,1);

            .trail-emphasis {
              font-weight: 700;
            }

            .trail-price {
              display: block;
              margin-top: 0;
            }
        }
    }

    .bottom {

        .form-wrapper {
          background-color: #fff;
          padding: 1.5em;
          border-radius: 0.438em;
          // -webkit-box-shadow: 0px 9px 7px -4px rgba(88,86,97,1);
          // -moz-box-shadow: 0px 9px 7px -4px rgba(88,86,97,1);
          // box-shadow: 0px 9px 7px -4px rgba(88,86,97,1);
          -webkit-box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);
          -moz-box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);
          box-shadow: 0px 7px 7px 0px rgba(216,110,114,1);

            .form-group {
              display: flex;
              flex-direction: column;


                .form-control {
                  border: 1px solid $color-grayish-blue;
                  border-radius: 0.438em;
                  font-weight: 600;
                  padding: 1.2em 1em;

                    &::placeholder {
                      font-weight: 600;
                    }
                }

                .form-control + .form-control {
                  margin-top: 1em;
                }

                .btn-register {
                  background-color: $color-green;
                  color: #fff;
                  font-weight: 600;
                  margin-top: 1em;
                  text-transform: uppercase;
                  -webkit-box-shadow: 0px 8px 7px -4px rgba(248,248,255,1);
                  -moz-box-shadow: 0px 8px 7px -4px rgba(248,248,255,1);
                  box-shadow: 0px 8px 7px -4px rgba(248,248,255,1);
                  // -webkit-box-shadow: 0px 8px 7px -4px rgba(56,204,140,1);
                  // -moz-box-shadow: 0px 8px 7px -4px rgba(56,204,140,1);
                  // box-shadow: 0px 8px 7px -4px rgba(56,204,140,1);
                }
            }

            .terms-service-agreement {
              color: $color-grayish-blue;
              font-size: 0.8em;
              font-weight: 600;
              text-align: center;

                .terms-emphasis {
                  color: $color-red;
                }
            }
        }
    }
}


footer {

  .attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
  }
  .attribution a {
    color: #fff;
  }

  span {
    display: block;
  }

  span + span {
    margin-top: 0;
  }
}
